.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.header--logo {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-left: 20px;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-right: 40px;
}
